

body {
  background-color: rgb(1, 1, 91);
  color:rgb(133, 192, 244);
  text-align: center;

  p1 {
    position: relative;
    top: 50px;
  left: 150px;}
   

    input {
      position: relative;
      top: 100px;
      right: 0px;}

      
      button {
        position: relative;
        top: 100px;
        right: 0px;}

        p {
          position: absolute;
          top: 0%;
          right: 0%;}
      

        audio {
          position: absolute;
          top: 1200px;
          left: 1100px;}

        #meme  {
            position: absolute;
            height: 800px;
            top: 25%;
            right: 40%;
            animation: bounce 1s infinite;}
          
          
          @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(-100px);
            }
            60% {
              transform: translateY(-1500px);
            }
          }
            
          }
          h1{font: 4em veranda;font-style:italic;
          }

         
    

  
 




}

