

body {
  background-color: rgb(2, 2, 52);
  color:rgb(178, 212, 243);
  text-align: center;
  
}
   

    input {
      position: relative;
      top: 100px;
      right: 300px;}

      
      button {
        position: relative;
        top: 100px;
        right: 300px;}

        div {
          position: relative;
          top: 110px;
          right: 0%;}
      

        audio {
          position: relative;
          top: 300px;
          right: 0px;}

        p{position: absolute
          ;top: 25%;
        right: 25%;}
      
    

  
 




}


