

body {
  background-color: rgb(1, 1, 91);
  color:rgb(133, 192, 244);
  text-align: center;

  p1 {
    position: relative;
    top: 50px;
  left: 150px;}
   

    input {
      position: relative;
      top: 100px;
      right: 0px;}

      
      button {
        position: relative;
        top: 100px;
        right: 0px;}

        p {
          position: relative;
          top: 110px;
          right: 0px;}
      

        audio {
          position: absolute;
          top: 1200px;
          left: 1100px;}

        img  {
            position: absolute;
            height: 800px;
            top: 300px;
            right: 1000px;
          }

         
    

  
 




}

